nav {
    display: none;
}

@media only screen and (min-width: 1000px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav {
        display: block;
        justify-content: flex-end;
        ul {
            list-style: none;
        }
        li{
            display: inline-block;
            padding: 15px;
            margin-right: 30px;
            font-size: 14px;
        }
    }
}