main {
    padding: 0 5%;
}

.header-about {
    text-align: center;
    margin: 20% 0;
    img {
        border-radius: 50%;
        margin-bottom: 30px;
    }
}

.header-title {
    margin-bottom: 50px;
}

.header-content {
    .content-item {
        margin-bottom: 50px;
        h3 {
            font-size: 16px;
        }
        h4 {
            color: $gris;
            font-size: 14px;
        }
    }
}

.body-content {
    margin-bottom: 80px;
    margin-top: 80px;
    .img {
        img {
            width: 100%;
            border-radius: 5px;
            box-shadow: $shadow;
        }
    }
}

.body-about {
    background-color: rgba(0,0,0,0.02);
    padding: 5%;
    border-radius: 20px;
    margin-bottom: 80px;
}



@media only screen and (min-width: 1000px) {

    .header-about {
        text-align: center;
        margin: 5% 0;
        img {
            border-radius: 50%;
            margin-bottom: 30px;
        }
    }

    .header-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .content-item {
            margin-bottom: 20px;
            width: 30%;
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    .body-content {
        display: flex;
        align-items: center;
        .content {
            width: 70%;
            padding-right: 5%;
        }
    }

    .part2 {
        flex-direction: row-reverse;
            .content{
                padding-right: 0; 
                padding-left: 5%;
            }
        
    }
}

@media only screen and (min-width: 1500px) {

    .body-about {
        margin: 100px 5%;
        h2 {
            text-align: center;
            margin-bottom: 10%;
        }
    }

    .body-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .content {
            width: 70%;
            padding-right: 15%;
        }
    }

    .part2 {
        flex-direction: row-reverse;
            .content{
                padding-right: 0; 
                padding-left: 15%;
            }
        
    }

}