.contact-header {
    margin: 80px 0;
    h1 {
        font-size: 16px;
    }
    .title-contact {
        font-size: 32px;
        line-height: 42px;
        color: $orange;
    }
    p{
        font-size: 16px;
        line-height: 26px;
    }
}

.cart-contact {
    margin: 80px 0;
    padding: 5%;
    background-color: rgba(0,0,0,0.02);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    p {
        font-size: 16px;
    }
    span {
        color: $orange;
        font-size: 14px;
    }
}

@media only screen and (min-width: 1000px) {
    .contact{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .contact-header{
            margin-top: 80px;
            margin-bottom: 80px;
            margin-right: 80px;
            width: 40%;
            text-align: left;
        }
        .cart-contact {
            width: 30%;
        }
    }

}