/* ------------------
=
=
=   HEADER
=
=
------------------ */ 


.home_main {
    height: 600px;
    display: block;
    text-align: center;
    padding: 0 5%;
}

/* CTA */ 

.btn-primary {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: $shadow;
    margin-top: 35px;
    text-align: center;
    background-color: $orange;
    color: white;
    p {
        color: white;
        font-size: 16px;
    }
   
}

/* Texte header */ 

.main-header {
    h1 {
        margin-top: 10px;
        font-size: 26px;
    }
    h2 {
        font-size: 16px;
        line-height: 32px;
        color: $gris;
        font-weight: 100;
    }
}

/* Images */ 

.container-image {
    text-align: center;
    padding-top: 10%;
    width: 100%;
    img {
        width: 30%;
        transform: rotate(20deg);
    }
}

/* ------------------
=
=
=   Section 1 : Freelance digital
=
=
------------------ */ 

.home_text {
    text-align: center;
    padding: 10% 5%;
    background-color: $back2;
    border-radius: 20px;
    margin: 0;
    h2, .text-desc {
        margin-bottom: 50px;
    }
    .btn-primary {
        margin-bottom: 30px;
    }
    span {
        color: $orange;
        font-weight: 600;
        font-size: 16px;
        line-height: 64px;
    }
}

/* ------------------
=
=
=   Section 3 : Mes expertises
=
=
------------------ */ 

.home_prestation {
    padding: 10% 5%;
    text-align: center;
    h4 {
        font-size: 16px;
        color: $gris;
    }
    img {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        padding: 0 5%;
    }

    .home_main {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row-reverse;
        p{
            line-height: 32px;
            padding-right: 30px;
        }
    }

    .container-image {
        padding: 0;
        margin-top: 20px;
        img {
            width: 65%;
        }
    }

    .main-header {
        padding-left: 40px;
        text-align: left;
        h1 {
            margin-top: 10px;
            font-size: 28px;
        }
        h2 {
            font-size: 18px;
            color: $gris;
            font-weight: 100;
        }
        .btn-primary {
            display: block;
            width: 50%;
            margin-right: 0;
            margin-left:0;
            margin-top: 30px;
            padding: 1px;
            border-radius: 5px;
        }
    }

    /* Section Freelance */

    .home_text {
        padding: 5% 20%;
        .btn-primary {
            margin-bottom: 30px;
            width: 50%;
            padding: 1px;
        }
    }

    /* Section expertises */ 

    .home_prestation {
        padding: 5% 5%;
        text-align: center;
        img {
            width: 50%;
        }
    }

    .expertises-items {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .home_prestation-header {
        width: 100%;
        flex-wrap: nowrap;
    }

    .prestation-item {
        padding: 30px;
        width: 32%;
        img {
            width: 70%;
        }
    }
}

@media only screen and (min-width: 1500px) {
    .home_main {
        height: 800px;
    }

    .container-image {
        padding: 0;
        margin-top: 20px;
        img {
            width: 45%;
        }
    }

    .main-header {
        padding-left: 40px;
        text-align: left;
        h1 {
            margin-top: 10px;
            font-size: 32px;
        }
        h2 {
            font-size: 22px;
            color: $gris;
            font-weight: 100;
        }
        p {
            font-size: 16px;
        }
    }

}