
.portfolio-items {
    margin-top: 40px;
    /*background-color: rgba(0, 0, 0, 0.02);*/
    border-radius: 20px;
}

.portfolio-header {
    h2 {
        text-align: center;
        padding-bottom: 30px;
        border-bottom: 1px solid $gris;
    }
}

.right{
    flex-direction: row-reverse;
}

.portfolio-content {

    margin: 110px 0;
    display: flex;
    flex-wrap: wrap;
    .content-img {
    background-color: #F3F3F3;
    border-radius: 5px;
    text-align: center;
    box-shadow: $shadow;
    i {
        margin-right: 15px;
        color: $orange;
        font-size: 16px;
    }
    img {
        width: 100%;
        border-radius: 5px;
        }
    }
    .content-txt {
        a {
            display: block;
            width: 40%;
            text-align: center;
            margin: 30px auto 10px auto;
            border-bottom: 2px solid $orange;
            padding-bottom: 5px;
        }
    }
}

@media only screen and (min-width: 1000px) {

    .portfolio-header {
        margin: 100px 0;
    }

    .portfolio-items {
        padding: 10px 5%;
    }

    .portfolio-content {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .content-img, .content-txt {
            width: 50%;
        }
        .content-txt {
            h2 {
                margin-bottom: 40px;
            }
            a {
                display: inline-block;
                margin: 0;
                width: 35%;
                text-align: center;
                margin: 30px auto 10px auto;
                border-bottom: 2px solid $orange;
                padding-bottom: 5px;
            }
            padding: 0 3%;
        }
    }
}

@media only screen and (min-width: 1500px) {

    .portfolio-content {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .content-img, .content-txt {
            width: 50%;
        }
        .content-txt {
            h2 {
                margin-bottom: 40px;
            }
            a {
                display: inline-block;
                margin: 0;
                width: 30%;
                text-align: left;
                margin: 30px auto 10px auto;
                border-bottom: 2px solid $orange;
                padding-bottom: 5px;
            }
            padding: 0 10%;
        }
    }

}