.projet-header{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
}

.form {
    margin-bottom: 80px;
    input {
        
    }
}

@media only screen and (min-width: 1000px) {
    .projet-header {
        width: 50%;
        margin: 80px auto;
    }
    .form{
        width: 70%;
        margin: 80px auto;
        padding: 5%;
        border: 2px solid $gris;
        background-color: rgba(0,0,0,0.02);
        border-radius: 10px;
        box-shadow: $shadow;
    }
}