.cta-primary{
    background-color: $orange;
    padding: 10px 25px;
    border-radius: 5px;

    box-shadow: $shadow;

    a, p{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: white;
    }
}

/* Master CTA */

.master_cta {
    padding: 30px 30px 60px 30px;
    margin: 40px 40px 100px 40px;
    border-radius: 20px;
    background-image: url('http://localhost:8888/uploads/2018/09/fond-bann_6-e1537965986552.png');
    background-position: center;
    background-size: cover;
    p {
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
    }
}

.btn-master {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: $shadow;
    margin-top: 35px;
    text-align: center;
    background-color: #fff;
    p {
        color: $orange;
        font-size: 16px;
    }
   
}

@media only screen and (min-width: 1000px) {
    .cta-primary{
        background-color: $orange;
        padding: 10px 25px;
        border-radius: 5px;
    
        box-shadow: $shadow;
    
        a, p{
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: white;
        }
    }

    /* Master CTA */

    .master_cta {
        padding: 80px 20% 100px 20%;
        margin: 0px 40px 100px 40px;
        p {
            color: white;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
        }
    }

    .btn-master {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 1px;
        border-radius: 5px;
        box-shadow: $shadow;
        margin-top: 30px;
        text-align: center;
        background-color: #fff;
        p {
            color: $orange;
            font-size: 16px;
        }
    
    }
}

@media only screen and (min-width: 1500px) {

    .master_cta {
        padding: 80px 30% 100px 30%;
        margin: 0px 40px 100px 40px;
        p {
            color: white;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
        }
    }

    .btn-master {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 1px;
        border-radius: 5px;
        box-shadow: $shadow;
        margin-top: 30px;
        text-align: center;
        background-color: #fff;
        p {
            color: $orange;
            font-size: 16px;
        }
    
    }

}