footer {
    background-color: $orange;
    color: #fff;
    padding: 10%;
    text-align: center;
    p {
        color: white,
    }
    i {
        color: white;
        margin: 10px;
    }
    .social-media {
        display: flex;
        justify-content: center;
    }
    img {
        border-radius: 50%;
        border: 5px solid #fff;
    }
    .links_col {
        width: 40px;
        margin: 0 auto;
        border-bottom: 5px solid #fff;
    }
    .copyright {
        p {
            font-size: 12px; 
            color: white;
        }
        margin-top: 60px;
    }
}

.col-links {
    ul {
        list-style: none;
        margin: 0; 
        padding: 0; 
        margin-top: 10px;
        li {
            padding-top: 10px;
            font-weight: 100;
            a{
                color: #fff;
                    font-weight: 100;
                    font-size: 14px;
                    font-family: Muli, sans-serif;
                &:hover {
                    color: $gris;
                }
            }

        }
    }
}

@media only screen and (min-width: 1000px) {

    footer {
        text-align: left;
        padding: 3%;
        .links_col {
            width: 40px;
            margin: 0;
            border-bottom: 5px solid #fff;
        }
        .copyright {
            text-align: center;
        }

        .social-media {
            justify-content: flex-start;
        }
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .info_freelance {
        text-align: left;
        padding-right: 10%;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            margin-right: 30px;
        }
    }


    .sitemap, .legal-mention {
        width: 20%;
    }
}