* {
    box-sizing: border-box;
    font-family: $labeur;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $titre;
    font-weight: 200;
}

p {
    font-size: 14px;
    color: $gris2;
    line-height: 24px;
}

a {
    font-family: $titre;
    text-decoration: none;
    color: $noir;

    transition: all 0.2s;

    &:hover {
        color: $gris;
    }
}

@media only screen and (min-width: 1000px) {
    .wrapper {
        padding: 0 5%;
    }
}