// Couleurs 

$orange: #EF785C;
$noir: #262624;
$gris: #CACACA;
$gris2: #848484;

//Fonts 

$titre: 'futura', sans-serif;
$labeur: 'muli', sans-serif;

// Effets 

$shadow: 2px 2px 10px rgba(0,0,0,0.2);

// Couleurs background 

$back2: rgba(0,0,0,0.02);
